.slick-prev {
    @media screen and (max-width: 500px) {
        display: none !important;
    }

    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-prev::before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: red;
}

.slick-next {
    @media screen and (max-width: 500px) {
        display: none !important;
    }

    right: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-disabled {
    display: none !important;
}



.home-footer {
    height: 70px;
    background-color: #64b9e5;
    text-align: center;
    padding-top: 8px;

    a {
        text-decoration: unset;
    }

}